$base-btn-bg: #1875f0;
$base-border-color: #303030;

$incoming-request-bg-color: #3aa4d2;
$initial-contact-bg-color: #1875f0;
$negotiations-bg-color: #5553ce;
$contract-bg-color: #9013fe;
$offer-made-bg-color: #f18f1c;
$won-lead-bg-color: #50d166;

$base-dark-bg: #262626;

$md-grey-text-color: #808080;
$light-text-color: #f2f2f2;
$md-grey-bg-color: #303030;

$base-font: 'Roboto', sans-serif;

$project: #F44336;
$web: #50E3C2;
$home: #BD10E0;
$work: #2096F3;

$active-border-left: #175FF0;

$active-step-icon-bg: #1875F0;
$active-step-text-color: #d9d9d9;
