$base-btn-bg: #1875f0;
$base-border-color: #303030;

$incoming-request-bg-color: #3aa4d2;
$initial-contact-bg-color: #1875f0;
$negotiations-bg-color: #5553ce;
$contract-bg-color: #9013fe;
$offer-made-bg-color: #f18f1c;
$won-lead-bg-color: #50d166;

$base-dark-bg: #262626;