<!-- breadcrumbs --->
<ul class="breadcrumbs">
    <li class="bc-item">Dashboard</li>
    <li class="bc-sep"></li>
    <li class="bc-item">{{ pageName }}</li>
</ul>
<br>
<div class="section-title">{{ componentName }}</div>
<!-- end breadcrumb --->

<!-- contact-card --->
<div class="contact-card">
    <div class="header">
        <div class="btn">add contact</div>
        <div class="v-sep"></div>
    </div> <!-- header --->
    <div class="sidebar">
        <nav class="contact-categories">
            <ul class="contact-list">
                <li class="contact-list-item active">All contacts</li>
                <li class="contact-list-item">VIP Clients</li>
                <li class="contact-list-item">New Clients</li>
                <li class="contact-list-item">Top Sales</li>
            </ul>
        </nav>
    </div> <!-- sidebar --->

    <!-- main-content --->
    <div class="main-content">

    </div>
    <!-- end main-content --->
</div><!-- end contact-card --->
