<ul class="breadcrumbs">
    <li class="bc-item">Dashboard</li>
    <li class="bc-sep"></li>
    <li class="bc-item">{{ pageName }}</li>
</ul>
<br>
<div class="section-title">{{ componentName }}</div>
<div class="email-client-card">
    <!-- header --->
    <div class="header">
        <div class="btn">compose email</div>
        <div class="v-sep"></div>
        <div class="tool-bar">
            <ul class="tools">
                <li class="tools-item">
                    <div class="selector">
                        <label>
                            <input type="checkbox" id="main" class="testing-another-property" value="">
                            <span class="label-text"></span>
                        </label>
                        <div class="down-arrow"></div>
                    </div>
                </li>
                <li class="tools-item">
                    <div class="refresh">
                        <div class="refresh-icon"></div>
                    </div>
                </li>
                <li class="tools-item">
                    <div class="archive">
                        <div class="archive-icon"></div>
                    </div>
                </li>
                <li class="tools-item">
                    <div class="spam">
                        <div class="spam-icon"></div>
                    </div>
                </li>
                <li class="tools-item">
                    <div class="remove">
                        <div class="trash-icon"></div>
                    </div>
                </li>
                <li class="tools-item">
                    <div class="folder">
                        <div class="folder-icon"></div>
                    </div>
                </li>
                <li class="tools-item">
                    <div class="tag">
                        <div class="label-icon"></div>
                    </div>
                </li>
            </ul>
        </div> <!-- end tool-bar  --->
        <div class="search"></div>
    </div>
    <!-- end header --->

    <div class="clear"></div>

    <!-- sidebar --->
    <div class="sidebar">
        <ul class="icon-list">
            <li class="icon-list-item">
                <div class="icon">
                    <div class="inbox-icon"></div>
                </div>
                <div class="text">inbox</div>
                <div class="number">4</div>
            </li>

            <li class="icon-list-item">
                <div class="icon">
                    <div class="draft-icon"></div>
                </div>
                <div class="text">drafts</div>
                <div class="number">1</div>
            </li>

            <li class="icon-list-item">
                <div class="icon">
                    <div class="sent-mail-icon"></div>
                </div>
                <div class="text">sent mail</div>
                <div class="number">10</div>
            </li>

            <li class="icon-list-item">
                <div class="icon">
                    <div class="delete-icon"></div>
                </div>
                <div class="text">Trash</div>
            </li>
        </ul>
        <div class="sidebar-v-sep"></div>
        <ul class="category-list">
            <li class="category-list-item">
                <div class="category-type project"></div>
                <div class="text">project</div>
            </li>

            <li class="category-list-item">
                <div class="category-type web"></div>
                <div class="text">Web</div>
            </li>

            <li class="category-list-item">
                <div class="category-type home"></div>
                <div class="text">home</div>
            </li>

            <li class="category-list-item">
                <div class="category-type work"></div>
                <div class="text">work</div>
            </li>
        </ul>
    </div>
    <!--  end sidebar --->

    <!-- main content --->
    <div class="main-content">
        
    </div>
    <!-- end main content --->
</div>
