@import "../../partials/vars";

.email-client-card {
    width: 100%;
    height: 870px;
    background-color: $base-dark-bg;
    float: left;
    margin-top: 30px;
    margin-bottom: 50px;

    .header {
        width: 100%;
        height: 88px;
        border-bottom: 2px solid $base-border-color;

        .tool-bar {
            float: left;
            margin-left: 64px;
            margin-top: 35px;

            .tools {
                margin: 0;
                padding: 0;
            }

            .down-arrow {
                background: url(../../imgs/down-arrow.png) no-repeat;
                width: 10px;
                height: 6px;

                position: relative;
                top: 7px;
                left: 30px;
            }

            .tools-item {
                list-style: none;
                float: left;
                display: inline-block;
                margin-right: 20px;

                &:first-child {
                    margin-right: 20px;
                }

                &:nth-child(2) {
                    margin-left: 20px;
                }
            }
        }

        .search {
            width: 219px;
            height: 88px;
            float: left;
            margin-left: 30px;
            border: {
                left: 2px solid $base-border-color;
                right: 2px solid $base-border-color;
            }
        }
    }

    .sidebar {
        width: 225px;
        height: 782px;
        border-right: 2px solid $base-border-color;
        float: left;
        color: $md-grey-text-color;

        .icon-list,
        .category-list {
            margin: 0;
            padding: 36px 29px 0 29px;

        }

        .icon-list-item,
        .category-list-item {
            list-style: none;
            margin-bottom: 32px;
            width: 100%;
            position: relative;
        }

        .icon,
        .category-type {
            float: left;
            margin-right: 21px;
            width: 21px;
        }
        %project-type {
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-top: 5px;
        }
        .project {
            @extend %project-type;
            background-color: $project;
        }
        .web {
            @extend %project-type;
            background-color: $web;
        }

        .home {
            @extend %project-type;
            background-color: $home;
        }

        .work {
            @extend %project-type;
            background-color: $work;
        }

        .text {
            text-transform: capitalize;
        }

        .number {
            float: right;
            background-color: $md-grey-bg-color;
            position: absolute;
            top: 0;
            right: 0;
            padding: 4px 8px;
            border-radius: 3px;
            font-size: 12px;
            font-weight: 500;
            ;
        }
    }
}
.clear {
    clear: both;
}
.sidebar-v-sep {
    width: 100%;
    height: 2px;
    background-color: $base-border-color;
}
.main-content {
    float: left;
}

.inbox-icon {
    background: url(../../imgs/email/inbox-icon.png) no-repeat;
    width: 18px;
    height: 18px;
}

.draft-icon {
    background: url(../../imgs/email/draft-icon.png) no-repeat;
    width: 20px;
    height: 19px;
}

.sent-mail-icon {
    background: url(../../imgs/email/sent-mail-icon.png) no-repeat;
    width: 21px;
    height: 18px;
}


.delete-icon {
    background: url(../../imgs/email/trash-icon.png) no-repeat;
    width: 14px;
    height: 18px;
}

.refresh-icon {
    background: url(../../imgs/email/refresh-icon.png) no-repeat;
    width: 16px;
    height: 16px;
}

.archive-icon {
    background: url(../../imgs/email/archive-icon.png) no-repeat;
    width: 18px;
    height: 18px;
}

.spam-icon {
    background: url(../../imgs/email/spam-icon.png) no-repeat;
    width: 18px;
    height: 18px;
}

.trash-icon {
    background: url(../../imgs/email/trash-icon.png);
    width: 14px;
    height: 19px;
}

.folder-icon {
    background: url(../../imgs/email/folder-icon.png) no-repeat;
    width: 20px;
    height: 16px;
}

.label-icon {
    background: url(../../imgs/email/label-icon.png) no-repeat;
    width: 19px;
    height: 14px;
}
