<div class="vert-nav-bar">
    <div class="heading">Basic Elements</div>
    <ul class="v-nav-list">
        <li class="v-nav-list-item">
            <a routerLink="/alerts" class="v-nav-link">Alerts</a>
        </li>
    </ul>
    <div class="heading">Dashboard</div>
    <ul class="v-nav-list">
        <li class="v-nav-list-item"><a routerLink="/dashboard/email" class="v-nav-link">Email</a></li>
        <li class="v-nav-list-item"><a routerLink="/dashboard/leads" class="v-nav-link">Leads</a></li>
        <li class="v-nav-list-item"><a routerLink="/dashboard/contacts" class="v-nav-link">Contacts</a></li>
    </ul>
</div>
