<div class="nav-bar">
    <div class="container">
        <div class="logo"><strong>Quantum</strong> UI kit</div>
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="#" class="nav-link">Pages</a>
                </li>
            </ul>
        </nav>
        <nav class="secondary-nav">
            <ul class="secondary-nav-list">
                <li class="nav-list-item">
                    <a routerLink="/login" class="nav-link">login</a>
                </li>
                <li class="nav-list-item">
                    <a routerLink="/register" class="nav-link">register</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
