<!-- breadcrumbs --->
<ul class="breadcrumbs">
    <li class="bc-item">Forms</li>
    <li class="bc-sep"></li>
    <li class="bc-item">{{ pageName }}</li>
</ul>
<br>
<div class="section-title">{{ componentName }}</div>
<!-- end breadcrumbs --->

<div class="login-form-card">
    <div class="header">
        <div class="title">login to your account</div>
    </div>
    <div class="card-body">
        <form action="" class="login-form" autocomplete="off">
            <div class="user-email">
                <input type="email" placeholder="E-mail" autocomplete="off">
            </div>
            <div class="user-password">
                <input type="password" placeholder="Password" autocomplete="off">
            </div>
        </form>
    </div>
</div>
