<!-- breadcrumbs --->
<ul class="breadcrumbs">
    <li class="bc-item">Ecommerce</li>
    <li class="bc-sep"></li>
    <li class="bc-item">{{ pageName }}</li>
</ul>
<br>
<div class="section-title">{{ componentName }}</div>
<!-- end breadcrumbs --->

<!-- stepper --->
<div class="stepper">
    <div class="item">
        <div class="icon-bg active">
            <div class="shopping-cart-icon"></div>
        </div>
        <span>first step</span>
        <span class="step-name">shopping cart</span>
    </div>
    <div class="item">
        <div class="icon-bg">
            <div class="credit-card-icon"></div>
        </div>
        <span>second step</span>
        <span class="step-name">payment methods</span>
    </div>
    <div class="item">
        <div class="icon-bg">
            <div class="delivery-icon"></div>
        </div>
        <span>third step</span>
        <span class="step-name">delivery methods</span>
    </div>
    <div class="item">
        <div class="icon-bg">
            <div class="done-icon"></div>
        </div>
        <span>first step</span>
        <span class="step-name">shopping cart</span>
    </div>
</div>
<!-- end stepper --->

<!-- shopping-cart-card --->
<div class="shopping-cart-card">
    <div class="cart-header">
        <div class="item">
            item
        </div>
        <div class="product">
            product
        </div>
        <div class="quantity">
            quantity
        </div>
        <div class="total-price">
            total price
        </div>
    </div>
</div>
<!-- end shopping-cart-card --->
