/* You can add global styles to this file, and also import other style files */
@import "app/partials/vars";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
}


.container {
    width: 1110px;
    margin: 0 auto;
}

.btn {
    width: 186px;
    height: 50px;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    color: #f2f2f2;
    font-weight: 900;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;

    position: relative;
    top: 19px;
    left: 20px;

    background-color: $base-btn-bg;

    &:hover {
        cursor: pointer;
    }

    &-sm {
        width: 93px;
        height: 25px;
        position: relative;
        top: 0;
        color: #f2f2f2;
        font-weight: bold;
        line-height: 25px;
        font-size: 9px;
    }
}

label {
    cursor: pointer;
    float: left;

    input[type="checkbox"] {
        display: none;
        + .label-text {
            &:before {
                content: url(app/imgs/unchecked.png)
            }
        }
        &:checked + .label-text {
            &:before {
                content: url(app/imgs/checked.png);
            }
        }
    }
}

label {
    &.email-star {
        cursor: pointer;
        float: left;

        input[type="checkbox"] {
            display: none;

            + .label-text {
                &:before {
                    content: url(app/imgs/email/star-unchecked.png)
                }
            }

            &:checked + .label-text {
                &:before {
                    content: url(app/imgs/email/star-checked.png);
                }
            }
        }
    }
}

.breadcrumbs {
    list-style: none;
    color: $md-grey-text-color;
    margin-top: 30px;
    .bc-item {
        float: left;
        font-weight: 500;
        font-size: 13px;
    }
}

.bc-sep {
    background: url(app/imgs/bc-arrow.png) no-repeat;
    width: 5px;
    height: 8px;
    float: left;

    margin: 5px 20px 0 20px;
}

.section-title {
    display: block;
    width: 100%;
    font-size: 36px;
    margin-top: 30px;
    color: $light-text-color;
}

.clear {
    clear: both;
}

.v-sep {
    float: left;
    width: 2px;
    height: 88px;
    background-color: $base-border-color;

    position: relative;
    left: 37px;
}


